# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/*


flume-adapter-core/target/
flume-adapter-source/target/
flume-redis-dist/target/

flume-adapter-core/dependency-reduced-pom.xml

flume-adapter-core/flume-adapter-core.iml

flume-adapter-source/dependency-reduced-pom.xml

flume-adapter-source/flume-adapter-source.iml

flume-adapter.iml

flume-redis-dist/flume-redis-dist.iml
