# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/*


flume-adapter-core/target/
flume-adapter-source/target/
flume-adapter-sink/target/

flume-adapter-core/dependency-reduced-pom.xml

flume-adapter-core/flume-adapter-core.iml

flume-adapter-source/dependency-reduced-pom.xml
flume-adapter-sink/dependency-reduced-pom.xml

flume-adapter-source/flume-adapter-source.iml
flume-adapter-sink/flume-adapter-sink.iml

flume-adapter.iml

/flume-adapter-sink/flume-kafka-sink/target/
/flume-adapter-sink/flume-redis-sink/target/
/flume-adapter-source/flume-redis-source/target/
/flume-adapter-source/flume-socket-source/target/
